*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;;
  font-size: 13px;
}

#container {
  width: 580px;
  margin: 120px auto 0;
  text-align: center;
}

a#signIn {
  background: #3f76d3;
  cursor: default;
  font-weight: bold;
  border: 1px solid #4285f4;
  display: inline-block;
  line-height: 6px;
  padding: 0 12px;
  border-radius: 2px;
  outline: none;
  margin: 0 auto;
}

nav#header ul li a#signIn {
  color: white;
}

a#apps {
  background: url('assets/apps.PNG') top right no-repeat;
  width: 15px;
  height: 15px;
  background-size: 140%;
  margin:0 auto;
}

h1#logo {
  width: 272px;
  height: 92px;
  background: url('assets/google_logo.png') top left no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  margin: 0 auto;
}


input[type="search"]
{
  width: 580px;
  height: 34px;
  padding: 7px;
  display: block;
  margin: 25px 0 18px;
  border: solid 1px #ccc;
  font-size: 16px;
}

input[type="search"]:hover
{
  border-color: #aaa;
}

input[type="submit"]
{
  background: #f2f2f2;
  color: "#5F6368";
  border: solid 1px #f2f2f2;
  padding: 0px 16px;
  font-size: 14px;
  font-family: Arial sans-serif;
  margin: 11px 4px;
  text-align: center;
  line-height: 27px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover
{
  border: 1px solid #c6c6c6;
  color: #222;
}

small{
  display: block;
}

a:link, a:visited {
  color: blue;
}

nav.header {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav#header ul li {
  list-style: none;
  display: block;
}


nav#header ul li a:link,
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited{
  color: #555;
  text-decoration: none;
  padding: 10px;
}

nav#header ul li a:hover
footer nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav {
  padding: 20px;
}


footer  nav ul li{
  display: inline;
  width: 100%;
}

footer nav ul{
  float: left;
}

footer nav ul.right-links {
  float: right;
}

span {
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 27px;
  color: #555;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

small a {
  text-decoration: none;
  padding: 0 3px 0 3px;
}


small a:hover {
  text-decoration: underline'
}
